:root {
  --operator-color: rgba(1, 96, 173, 0.712);
  --container-color: rgba(182, 200, 219, 0.363);
  --button-color: rgb(206,206,206);
  --text-box-color:rgba(146, 162, 180, 0.363) ;
  --text-color: rgb(231, 231, 185);
  --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculator-container{
  width: fit-content;
  border-radius: 5px;
  padding: 0.5em;
  background-color: var(--container-color);
}

button{
  font-size: 1em;
  height: 3em;
  border-radius: 5px;
  border-style: hidden;
  background-color: var(--button-color);
}

.input-text{
  border-style: hidden;
  /* border: 1px solid blue; */
  border-radius: 5px;
  padding: 0.5em;
  background-color: var(--text-box-color);
  text-align: end;
}

.calc-text {
  border-style: hidden;
  /* border: 1px solid red; */
  text-align: end;
  font: bold 1.25em var(--font-family);
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.25em auto;
  background-color: var(--text-box-color);
}

.entry-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

body{
  height: 100vh;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.operator {
  background-color: var(--operator-color);
  color: var(--text-color)
}

.equals {
  grid-column: 4 / span 2;
  font-size: 1.5em;
  height: 3rem;
  background-color: rgba(196, 0, 0, 0.842);
}

.dot{
  font-size: 1.5em;
  height: 3rem;
  align-content: center;
}