:root {
  --operator-color: rgba(1, 96, 173, 0.712);
  --container-color: rgba(182, 200, 219, 0.363);
  --button-color: rgb(206,206,206);
  --text-box-color:rgba(146, 162, 180, 0.363) ;
  --text-color: rgb(228, 228, 213);
  --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: var(--font-family);
}

.calculator-container{
  border-radius: 5px;
  padding: 0.5em;
  background-color: var(--container-color);
}

button{
  font-size: 1.25em;
  height: 3em;
  border-radius: 5px;
  border-style: hidden;
  background-color: var(--button-color);
  box-shadow: 0 3px #999;
}

button:hover{
  transform: scale(1.1);
}

button:active,
.button-active{
  box-shadow: 0 1.5px #999;
  transform: translateY(1px);
}

.number.button-active,
button:active.number{
  background-color: orange;
}

.operator.button-active,
button:active.operator{
  background-color: rgb(130, 203, 228);
}

#Enter.button-active{
  background-color: lightcoral;
}

.input-text{
  border-style: hidden;
  height: 1rem;
  border-radius: 5px;
  padding: 0.5em;
  background-color: var(--text-box-color);
  text-align: end;
}

.calc-text {
  border-style: hidden;
  text-align: end;
  font: bold 1.25em var(--font-family);
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.25em auto;
  background-color: var(--text-box-color);
}

.entry-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

body{
  height: 100vh;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.operator {
  background-color: var(--operator-color);
  color: var(--text-color)
}

#Enter {
  grid-column: 4 / span 2;
  font-size: 1.875em;
  height: 3.75rem;
  background-color: rgba(196, 0, 0, 0.842);
  font-weight: bold;
}

.dot{
  font-size: 1.875em;
  height: 3.75rem;
}